<div class="flex justify-between w-100 font-semibold bg-air-force-blue my-2 p-2 rounded">
  <h1 class="text-2xl"><%= @manufacturer.name %></h1>

  <div class="flex justify-between gap-1 lg:gap-2 xl:gap-5 items-center text-sm sm:text-base">
    <%= link_to 'Speed', search_path(q: params[:q], sort_by: 'speed', sort_direction:), class: "#{'text-white' if params[:sort_by] == 'speed'}" %>
    <span class="text-cadet-gray">|</span>
    <%= link_to 'Glide', search_path(q: params[:q], sort_by: 'glide', sort_direction:), class: "#{'text-white' if params[:sort_by] == 'glide'}" %>
    <span class="text-cadet-gray">|</span>
    <%= link_to 'Turn', search_path(q: params[:q], sort_by: 'turn', sort_direction:), class: "#{'text-white' if params[:sort_by] == 'turn'}" %>
    <span class="text-cadet-gray">|</span>
    <%= link_to 'Fade', search_path(q: params[:q], sort_by: 'fade', sort_direction:), class: "#{'text-white' if params[:sort_by] == 'fade'}" %>
  </div>
</div>
<% @discs.each do |disc| %>
  <li>
    <%= link_to disc_url(disc),
                data: { turbo_action: 'advance',
                        action: 'click->reveal#hide',
                        turbo_prefetch: 'false',
                        turbo: true, turbo_frame: :search_results } do %>
      <div class="md:text-xl flex justify-between border-b border-t border-gray-600 p-1 hover:bg-gray-600">
        <div class="pl-3">
          <h3><%= disc.name %></h3>
        </div>
        <div class="flex justify-between md:w-3/12 w-4/12 px-2">
          <div><%= number_to_human(disc.speed) %></div>
          <span class="text-air-force-blue">|</span>
          <div><%= number_to_human(disc.glide) %></div>
          <span class="text-air-force-blue">|</span>
          <div><%= number_to_human(disc.turn) %></div>
          <span class="text-air-force-blue">|</span>
          <div><%= number_to_human(disc.fade) %></div>
        </div>
      </div>
    <% end %>
  </li>
<% end %>
