<% if @disc.persisted? %>
  <h1 class="text-5xl mb-4"><%= @disc.manufacturer.name %></h1>
  <h3 class="text-2xl mb-10"><%= @disc.name %></h3>
<% end %>

<%= form_with model: [:admin, @disc] do |f| %>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <div class="flex flex-col gap-1">
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, class: 'text-black rounded border p-1 border-poly-green' %>
      <%= f.label :slug %>
      <%= f.text_field :slug, class: 'text-black rounded border p-1 border-poly-green' %>
      <%= f.label :manufacturer %>
      <%= f.select :manufacturer,
                   options_from_collection_for_select(Manufacturer.all, :id, :name, @disc.manufacturer_id),
                   { include_blank: true }, class: 'text-black rounded border p-2 border-poly-green' %>
      <%= f.label :speed %>
      <%= f.number_field :speed, step: :any, class: 'text-black rounded border p-1 border-poly-green w-1/2' %>
      <%= f.label :glide %>
      <%= f.number_field :glide, step: :any, class: 'text-black rounded border p-1 border-poly-green w-1/2' %>
      <%= f.label :turn %>
      <%= f.number_field :turn, step: :any, class: 'text-black rounded border p-1 border-poly-green w-1/2' %>
      <%= f.label :fade %>
      <%= f.number_field :fade, step: :any, class: 'text-black rounded border p-1 border-poly-green w-1/2' %>
    </div>

    <div class="flex flex-col gap-0.5">
      <%= f.label :category %>
      <%= f.select :category, options_for_select(Disc.categories), { include_blank: false }, class: 'mt-1 text-black rounded border p-1 border-poly-green w-full' %>
      <%= f.label :stability %>
      <%= f.select :stability, options_for_select(Disc.stabilities), { include_blank: false }, class: 'mt-1 text-black rounded border p-1 border-poly-green w-full' %>
      <%= f.label :flight_chart_url %>
      <%= f.text_field :flight_chart_url, class: 'text-black rounded border p-1 border-poly-green mt-1 mb-12 ' %>

      <% if @disc.flight_chart_url.present? %>
        <%= image_tag(@disc.flight_chart_url, width: 300, class: 'mx-auto') %>
      <% else %>
        <div class="h-60 align-middle mb-5 border border-columbia-blue flex flex-column justify-center">
          <span class="block my-auto">No flight chart uploaded</span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-12 text-center">
    <%= f.submit submit_text, class: 'bg-poly-green text-white text-2xl rounded p-2 hover:bg-sea-green cursor-pointer focus:border-air-force-blue' %>
  </div>
<% end %>
