<%= render Discs::SearchComponent.new %>
<%= turbo_frame_tag :search_results do %>
  <div class="block p-6 bg-columbia-blue border border-2 border-poly-green rounded">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="col-span-2">
        <h1 class="text-3xl font-bold"><%= @manufacturer.name %></h1>
        <h5><%= @disc.name %></h5>
        <div class="grid grid-cols-4 mt-8 text-center">
          <span class="text-4xl"><%= number_to_human(@disc.speed) %></span>
          <span class="text-4xl"><%= number_to_human(@disc.glide) %></span>
          <span class="text-4xl"><%= number_to_human(@disc.turn) %></span>
          <span class="text-4xl"><%= number_to_human(@disc.fade) %></span>
          <span class="hidden md:inline-block">Speed</span>
          <span class="hidden md:inline-block">Glide</span>
          <span class="hidden md:inline-block">Turn</span>
          <span class="hidden md:inline-block">Fade</span>
        </div>
      </div>
      <div>
        <% if @disc.buy_url.present? && @disc.image.attached? %>
          <%= link_to @disc.buy_url, target: :_blank do %>
            <%= image_tag @disc.image, class: "rounded", alt: "#{@disc.name} image" %>
          <% end %>
        <% elsif @disc.image.attached? %>
          <%= image_tag @disc.image, class: "rounded", alt: "#{@disc.name} image" %>
        <% else %>
          <img class="rounded" src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg" alt="disc golf disc">
        <% end %>
      </div>
    </div>
  </div>
<% end %>