<%= turbo_frame_tag :search_results do %>
  <div class="block p-6 bg-columbia-blue border border-2 border-poly-green rounded">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="col-span-2">
        <h1 class="text-3xl font-bold"><%= @manufacturer.name %></h1>
        <h5><%= @disc.name %></h5>
        <div class="grid grid-cols-4 mt-4 text-center">
          <span class="text-4xl"><%= @disc.speed.round %></span>
          <span class="text-4xl"><%= @disc.glide.round %></span>
          <span class="text-4xl"><%= @disc.turn.round %></span>
          <span class="text-4xl"><%= @disc.fade.round %></span>
          <span class="hidden md:inline-block">Speed</span>
          <span class="hidden md:inline-block">Glide</span>
          <span class="hidden md:inline-block">Turn</span>
          <span class="hidden md:inline-block">Fade</span>
        </div>
      </div>
      <div>
        <img class="rounded" src="https://infinitediscs.com/Inf_Uploads/DiscProducts/Orc68b81.Webp" alt="disc golf disc">
      </div>
    </div>
  </div>
<% end %>