<h1 class="text-center text-4xl">Login</h1>
<%= form_with url: login_path do |f| %>
  <div class="flex flex-col items-center justify-center mt-5">
    <%= f.label :username, class: 'mt-4 text-xl' %>
    <%= f.text_field :username, class: 'p-1 border border-gray-600 rounded-lg bg-gray-700 border-gray-600 placeholder-columbia-blue focus:border-columbia-blue focus:ring-columbia-blue text-columbia-blue' %>
    <%= f.label :password, class: 'mt-4 text-xl' %>
    <%= f.password_field :password, class: 'p-1 border border-gray-600 rounded-lg bg-gray-700 border-gray-600 placeholder-columbia-blue focus:border-columbia-blue focus:ring-columbia-blue text-columbia-blue' %>
    <%= f.submit "Login", class: "bg-columbia-blue hover:bg-poly-green text-black hover:text-columbia-blue font-bold py-2 px-4 rounded-lg mt-5" %>
  </div>
<% end %>