<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Discpedia Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', "data-turbo-track": 'reload' %>

    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-poly-green">
    <%= link_to admin_discs_path do %>
      <h1 class="text-5xl text-center text-white my-12 font-fly">Discapedia Admin</h1>
    <% end %>

    <main class="text-white p-4 bg-air-force-blue rounded w-5/6 mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
