<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Discapedia</title>
    <meta name="description" content="A Disc Golf flight number encyclopedia. Quickly find and view disc golf discs by name or manufacturer.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', "data-turbo-track": 'reload' %>

    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
    <%= favicon_link_tag 'fav.png' %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  </head>

  <body class="bg-air-force-blue">
    <%= render partial: 'shared/navbar' %>

    <main class="container px-3 md:px-12 mx-auto mt-28">
      <%= yield %>
    </main>
  </body>
</html>
